template(name="spinnerArea")		
	div.gameArea
		h3 Spinner
		
		//- - var sV = {{spinValue}}
		
		p Spin: {{spinValue}}
		//-p Spin: spinVal
		
		//- if ('1' == '1')
		//p Image Name: {{spinValue}}
		
		img(src='{{spinPicture}}')


		a.btn.btn-success.btn-lg.spin.action-button(href ="#") Spin
