template(name="spinnerArea")		
	div.gameArea
		h3 Spinner
		

		
		p Spin: {{spinValue}}
		
		
		img(src='{{spinPicture}}')

		p Player: {{currentPlayer}}

		a.btn.btn-success.btn-lg.spin.action-button(href ="#") Spin
