template(name='home')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='We are average. We are mediocre at best. We are simple. We are SORRY. Free-to-play online multiplayer Hi-Ho-Cherry-O!')
    meta(name='author', content='Anna Rapp and Jenny Niemann')
    title Hi-Ho-Cherry-O
    // Custom Fonts
    link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic', rel='stylesheet', type='text/css')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
  body
    // Navigation
    nav.navbar.navbar-default.navbar-fixed-top
      .container
        // Brand and toggle get grouped for better mobile display
        .navbar-header.page-scroll
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#page-top') Hi-Ho-Cherry-O
          .fb-like(data-href="https://www.facebook.com/Hi-Ho-Cherry-Oonline", data-layout="button_count", data-action="like", data-show-faces="true", data-share="true")
        // Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li.hidden
              a(href='#page-top')
            li.page-scroll
              a(href='#online') Play online
            li.page-scroll
              a(href='#images') Images
            li.page-scroll
              a(href='#about') About
    // Header
    header
      .container
        .row
          .col-lg-12
            .intro-text
              span.name Hi-Ho-Cherry-O
              hr.star-light
              span.skills We are average. We are mediocre at best. We are simple. We are SORRY.
    // Online Section
    section#online
      .container
        .row
          .col-leg-12.text-center
            h2 Play online
            hr.star-primary
            p
              | Welcome to Hi-Ho-Cherry-O online! Hi-Ho-Cherry-O online is 100% free to play. This is an online version of the original board game from Hasbro.
              | Hi-Ho-Cherry-O is a fun-filled children's game about picking cherries and screwing over your friends. It's also the easiest game that LTC Chewar would let us pick.
              | This online version is created by a couple of struggling computer science majors, just for a grade. We hope you will enjoy it. A lot of blood, sweat, and tears went into this game. Mostly tears.
            br
            a(href="{{pathFor 'gamelist.page'}}").btn.btn-primary.btn-xlg Play Hi-Ho-Cherry-O online!
            br
            br
            p.small(style="text-align: center")
              | ..or are you looking to 
              a(href='http://www.amazon.com/Hasbro-44703-Hi-Ho-Cherry-O/dp/B00000IWGQ') buy the boardgame?
    // Portfolio Grid Section
    section#images
      img.img-responsive.home(src='/Hi-Ho-Cherry-O.jpg')
    // About Section
    section#about.success
      .container
        .row
          .col-lg-12.text-center
            h2 About
            hr.star-light
        .row
          .col-lg-4.col-lg-offset-2
            p
              | Imagine that you're out picking cherries. You have no friends, so when some other guys and gals come to pick cherries from YOUR orchard, you've got a problem.
              | So you dream up a little game for you and these poor victims. Your task is to pick all of your cherries before they can finish picking theirs. 
              | However, it's not that simple. While you're picking cherries, the other players can put cherries back on your tree.
              | The question is this: do you try to help yourself? Or sabotage the other players?
          .col-lg-4
            p
              | Hi Ho! Cherry-O is a four player Hasbro game in which players attempt to collect all the cherries from their respective cherry trees first. 
              | Each player has a designated 
              | tree and and corresponding colored bucket. The youngest player assumes the red bucket, followed by the second youngest on the yellow bucket, the third 
              | youngest on the green and the oldest on the blue. Players take turns youngest to oldest spinning the spinner. 
              | Good luck, and may the cherries be ever in your favor.
    #fb-root
    // Footer
    footer.text-center
      .footer-above
        .container
          .row
            .footer-col.col-md-4
              h3 Board Game
              p
                | You can buy the official board game at
                a(href='http://www.amazon.com/Hasbro-44703-Hi-Ho-Cherry-O/dp/B00000IWGQ') Amazon.com
                img(src='https://ir-na.amazon-adsystem.com/e/ir?t=robo05-20&l=as2&o=1&a=B0009HLSP0' width='1' height='1' border='0' alt='' style='border:none !important; margin:0px !important;')
            .footer-col.col-md-4
              h3 Donate
              p
                form(action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top")
                  input(type="hidden" name="cmd" value="_s-xclick")
                  input(type="hidden" name="hosted_button_id" value="M6AQ9FG87WE62")
                  input(type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!")
                  img(alt="" border="0" src="https://www.paypalobjects.com/nl_NL/i/scr/pixel.gif" width="1" height="1")
            .footer-col.col-md-4
              h3 Hi-Ho-Cherry-O.com
              p
                | This is an unofficial fansite created just for fun because we love the game!
      .footer-below
        .container
          .row
            .col-lg-12
              | Copyright © Hi-Ho-Cherry-O.com 2015 (info@Hi-Ho-Cherry-O.com)
    // Scroll to Top Button (Only visible on small and extra-small screen sizes)
    .scroll-top.page-scroll.visible-xs.visble-sm
      a.btn.btn-primary(href='#page-top')
        i.fa.fa-chevron-up
