template(name="gameArea")
	div.gameArea
		h3 Hi Ho Cherry-O! Game Area

		a.btn.btn-success.btn-lg.placeTile.action-button(href ="#") Place a Tile

		a.btn.btn-success.btn-lg.resetGame.action-button(href ="#") Reset Game