template(name="gameArea")
	div.gameArea
		h3 Hi Ho Cherry-O! Game Area
		
		div.tree1
			img(style='border:5px solid #4d79ff' src='/treebucket.JPG')
			p Blue Player
		
		div.tree2
			img(style='border:5px solid #ffff00' src='/treebucket.JPG')
			p Yellow Player
		
		div.tree3
			img(style='border:5px solid #00cc00' src='/treebucket.JPG')
			p Green Player
		
		div.tree4
			img(style='border:5px solid #ff33cc' src='/treebucket.JPG')
			p Pink Player

		a.btn.btn-success.btn-lg.placeTile.action-button(href ="#") Place a Tile

		a.btn.btn-success.btn-lg.resetGame.action-button(href ="#") Reset Game
