template(name="gameArea")
	div.gameArea
		h3 Hi Ho Cherry-O! Game Area
		
		div.tree1
			img(style='border:5px solid #4d79ff' src='{{blueTreePicture}}')
			h4 Blue Player
			p Bucket: {{blueBucketNum}}
			p Tree: {{blueTreeNum}}
		
		div.tree2
			img(style='border:5px solid #ffff00' src='{{blueTreePicture}}')
			h4 Yellow Player
			p Bucket: {{blueBucketNum}}
			p Tree: {{blueTreeNum}}
		
		div.tree3
			img(style='border:5px solid #00cc00' src='{{blueTreePicture}}')
			h4 Green Player
			p Bucket: {{blueBucketNum}}
			p Tree: {{blueTreeNum}}
		
		div.tree4
			img(style='border:5px solid #ff33cc' src='{{blueTreePicture}}')
			h4 Pink Player
			p Bucket: {{blueBucketNum}}
			p Tree: {{blueTreeNum}}
			
		a.btn.btn-success.btn-lg.takeMove.action-button(href ="#") Take Your Move

		a.btn.btn-success.btn-lg.pickCherry.action-button(href ="#") Pick Cherries

		a.btn.btn-success.btn-lg.placeCherry.action-button(href ="#") Place Cherries
